<h1>Customer</h1>
<p>
  <strong>First Name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<h2>Items Received:</h2>
<% @customer.items.each do |item| %>
  <p>
    <strong>Item Description:</strong>
    <%= item.item %>
  </p>
<% end %>

<h2>Next Box to be Delivered:</h2>


<%= link_to 'Back', customers_path %> |
<%= link_to "Edit", edit_customer_path(@customer) %>
